<?xml version="1.0"?>
<config>
    <modules>
        <Nethuns_Sameday>
            <version>0.1.0</version>
        </Nethuns_Sameday>
    </modules>

    <frontend>
        <routers>
            <nethuns_sameday>
                <use>standard</use>
                <args>
                    <module>Nethuns_Sameday</module>
                    <frontName>nethuns_sameday</frontName>
                </args>
            </nethuns_sameday>
        </routers>
        <layout>
            <updates>
                <nethuns_sameday>
                    <file>sameday.xml</file>
                </nethuns_sameday>
            </updates>
        </layout>
        <events>
            <sales_order_save_after>
                <observers>
                    <nethuns_sameday_sales_order_save_after>
                        <class>nethuns_sameday/observer</class>
                        <method>sales_order_save_after</method>
                    </nethuns_sameday_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>

    <global>
        <models>
            <nethuns_sameday>
                <class>Nethuns_Sameday_Model</class>
                <resourceModel>nethuns_sameday_mysql4</resourceModel>
            </nethuns_sameday>
            <nethuns_sameday_mysql4>
                <class>Nethuns_Sameday_Model_Mysql4</class>
                <entities>
                    <nethuns_sameday>
                        <table>nethuns_sameday</table>
                    </nethuns_sameday>
                </entities>
            </nethuns_sameday_mysql4>
        </models>
        <resources>
            <nethuns_sameday_setup>
                <setup>
                    <module>Nethuns_Sameday</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nethuns_sameday_setup>
            <nethuns_sameday_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nethuns_sameday_write>
            <nethuns_sameday_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nethuns_sameday_read>
        </resources>
        <blocks>
            <nethuns_sameday>
                <class>Nethuns_Sameday_Block</class>
            </nethuns_sameday>
        </blocks>
        <helpers>
            <nethuns_sameday>
                <class>Nethuns_Sameday_Helper</class>
            </nethuns_sameday>
        </helpers>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <nethuns_sameday>
                    <files>
                        <default>Nethuns_Sameday.csv</default>
                    </files>
                </nethuns_sameday>
            </modules>
        </translate>
        <events>
            <controller_action_layout_render_before_adminhtml_sales_order_shipment_view>
                <observers>
                    <nethuns_sameday_controller_action_layout_render_before_adminhtml_sales_order_shipment_view>
                        <type>singleton</type>
                        <class>nethuns_sameday/observer</class>
                        <method>controller_action_layout_render_before_adminhtml_sales_order_shipment_view</method>
                    </nethuns_sameday_controller_action_layout_render_before_adminhtml_sales_order_shipment_view>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_shipment_view>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Nethuns_Sameday after="Mage_Adminhtml">Nethuns_Sameday_Adminhtml</Nethuns_Sameday>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
         <carriers>
             <nethuns_sameday>
                 <model>nethuns_sameday/carrier_sameday</model>
             </nethuns_sameday>
	     </carriers>
    </default>
</config>